.frame--container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: #ddd;
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	align-items: center;
	justify-content: center;
}

.frame--container--range {
	background: #fff;
	height: 2rem;
	width: 55%;
	border-radius: 5rem;
	box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 80%;
	height: 100%;
	background: transparent;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #ffffff;
	margin-top: -5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 60%;
	height: 9px;
	background: #bdbdbd;
	border-radius: 3rem;
	transition: all 0.5s;
	cursor: pointer;
}

input[type="range"]:hover::-webkit-slider-runnable-track {
	background: #6eff40;
}

input[type="range"]::-ms-track {
	width: 60%;
	cursor: pointer;
	height: 9px;
	transition: all 0.5s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type="range"]::-ms-thumb {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #ffffff;
	margin-top: -5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
	background: #bdbdbd;
	border-radius: 3rem;
}

input[type="range"]:focus::-ms-fill-lower {
	background: #6eff40;
}

input[type="range"]::-ms-fill-upper {
	background: #bdbdbd;
	border-radius: 3rem;
}

input[type="range"]:focus::-ms-fill-upper {
	background: #6eff40;
}

input[type="range"]::-moz-range-thumb {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #ffffff;
	margin-top: -5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

input[type="range"]::-moz-range-track {
	width: 60%;
	height: 9px;
	background: #bdbdbd;
	border-radius: 3rem;
	transition: all 0.5s;
	cursor: pointer;
}

input[type="range"]:hover::-moz-range-track {
	background: #6eff40;
}

